DATABASE_URL="postgresql://snd:snd@0.0.0.0:5432/snd?schema=dbo"

JWT_KEY="S0VZLSLS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0NCk1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBeVNPZ1hnYU5sSFgvbU92NHV6Rm4NCmpHd1plcHMwZDBXUTNMYzYzdGlHWXBxbSt3N0QxMWNQQnVDcUloMmN6ZEpuSG5XRnN6L0k3UWhGcWVaMTNhL20NCkRHaEw1K25OUHFydFJVMWJra1ZPYmt0MUNzQWVCUDdPcGkvL0FsY2pMd3RJcnRwcUNsVWp1NGxjT1g2MzlhY2ENCmNrYmdOeTBpRHFtbmg3MlBWNnp3MFVEOE9CRy8wSWRhUVRqQWt1OHA5Z2ZlUHdmY3Z4Tkk1bGR1TG8rL3V0TGoNCk5OY0FvY0Y3WnhNWmpyVzBQeXhQVnlTWEFLTUl2K2ppdmwybnZwMWxoWjlabnB5QXZHZlRJbHpFbVlBNTd0RnINClRZRDVNbzk1c3h1d2U0VCtsSXhZR3YzTHBpZWVhTWxrendCUHF2bUpkUnhGVUNWaVBLbS9heCtLYVduRG1PUkcNCmF3SURBUUFCDQotLS0tLUVORCBQVUJMSUMgS0VZLS0tLS0NCg=="

NODE_ENV=dev